{% include 'base.html' %}
{% load static %}
<h1>Update form</h1>
<a href="{% url 'myapp:view_form' pk %}" target="_blank"><button>Share</button></a>
<a href="{% url 'myapp:responses' pk %}"><button>Responses</button></a>

{% block content %}
    <form action="{% url 'myapp:update_form' pk %}" method="POST" id="questionForm">
        {% csrf_token %}
        <button type="submit">Save</button>
       <div class="card" id="form-description">
          <div class="card-header">
            Title and Description
          </div>
          <div class="card-body">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="title" placeholder="title" name="title">
                <label for="title">Form title</label>
            </div>
            <div class="form-floating"> <!-- corrected mb-3 here -->
                <textarea class="form-control" placeholder="Description" id="description" name="description"></textarea>
                <label for="description">Form Description</label>
            </div>
          </div>

           <button type="button" id="addQuestion" onclick="addquestion(id)">Add Question</button>
       </div>


    </form>

{% endblock content %}
{% block script %}
    <script src="{% static 'forms.js' %}"></script>
    <script>
        let children =form.children

        children[2].querySelector('[name=title]').value="{{form.form_data.title|escapejs}}"
        children[2].querySelector('[name=description]').value="{{form.form_data.description|escapejs}}"
        {% if form.form_data.data %}
            let addQuestionButtonId='addQuestion';
            let addOptionButtonId,question,option_id,all_opt;
            let i=0;

            {% with form.form_data.data as questions %}
                {% for questionId,questionData in questions.items %}
                                    console.log('Question Data:', {{ questionData|safe }});

                   i={{forloop.counter0|escape}}+3;
                                     console.log('Current value of i:', i);

                    [addQuestionButtonId,addOptionButtonId]=addquestion(addQuestionButtonId,false);
                    children[i].querySelector('.question').value="{{questionData.questionText|escapejs}}"
                    {% for option in questionData.options %}
                       option_id=addOption(addOptionButtonId);
                        all_opt=children[i].querySelector('.allOption').children;
                        all_opt[all_opt.length-1].querySelector(`#${option_id}`).value='{{option}}'
                    {% endfor %}

                {% endfor %}
            {% endwith %}

        {% endif %}



    </script>
{% endblock script %}
